* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #f5f5f5; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #000000;
}

.logo {
    max-width: 5rem;
    transition: transform 0.2s ease-in-out; /* transicion de tiempo */
}

.logo:hover {
    transform: scale(1.1); /* se expande un toke el logo */
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #C9961A;
    transition: color 0.2s ease-in-out;
}

.nav-list li a:hover {
    color: #f9d67f;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {

.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.50rem;
    background-color: transparent;
    cursor: pointer;
}
.abrir-menu {
    color: #c9961a;
    }
.cerrar-menu {
    color: #c9961a;
    }
.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }
    
.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    flex-direction: column;
    align-items: end;
}

.nav-list li a {
    color: #ecececec;
}
}