/*Globales->Buscar font sugiero : https://fonts.google.com/specimen/Poppins  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;  /*Navegacion del la one mas amigable*/
}

body {
    margin: 0;
    background-color: #000000; 
}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: black;
    background-color: #C9961A;
}

button:hover{
    background-color: #f9d67f;
}

/* con el global del contenedor nos va a que genera margenes automaticos x el ancho que indiquemos (mati si lo quitas seva hasta los extremos del viewport*/
.container{
    max-width: 1400px;
    margin: auto;
}
/*************** MENU DE NAVEGACION  ***************************/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #000000;
    position: fixed;
    width: 100%;
}
/* header>position fixed + ancho 100% se queda fijo*/
.logo {
    max-width: 5rem;
    transition: transform 0.2s ease-in-out; /* transicion de tiempo */
}

.logo:hover {
    transform: scale(1.1); /* Animacion: se expande un toke el logo */
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #C9961A;
    transition: color 0.2s ease-in-out;
    font-size: 1.3rem; /* reveer si convien 1.2 o 1.5 cambiar en el media tambien*/
}

.nav-list li a:hover {
    color: #f9d67f;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 700px) {
.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.3rem;
    background-color: transparent;
    cursor: pointer;
}
.abrir-menu {
    color: #c9961a;
    }
.cerrar-menu {
    color: #c9961a;
    }
.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }
    
.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    flex-direction: column;
    align-items: end;
}

.nav-list li a {
    color: #ecececec;
}

}

/***************** Inicio BANNER INICIO********************/
#banner-cerveza{
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh; /*altura del banner re ver so 40% 0 30%*/
    color: white;
    background-image: linear-gradient( /*filtro para diseño a las imagenes */
        0deg,/*diseccion del gradiente*/
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,url("/img/pupurrybeer.png");
    background-repeat: no-repeat; 
    background-size: cover; /* ancho del contenedor */
    background-position: center center; /*centra imagen siempre a contenedor */
}

#banner-cerveza h2{
    margin-top: 90px;
    font-size: 3em;
}
/*------------------------- Inicio Quienes Somos -------------------*/
#quienes-somos {
    height: 600px;
    background-color: #af7d00;
}
#quienes-somos p, h2{
    margin-left: 20 30px;
    text-align: center;}
/*-------------------- ----Inicio CARTAS ----------------------*/  

#nuestros-estilos .container-cartas{/*contenedor de las cartas*/
    display: flex; /*alinea las cartas*/
    flex-wrap: wrap; /*una bajo de ña otra*/
    justify-content: center;
    text-align: center;
}
#nuestros-estilos h2{
    font-size: 2em;
    display: block;
    text-align: center;
    margin-top: 20px;
    color: white;
}

#nuestros-estilos h3{
    font-size: 1.5em;
    margin: 20px;
    color: #f4c242;
}

#nuestros-estilos p{
    margin-bottom: 30px;
    color: white;
    color: white;
}

#nuestros-estilos .carta{
    flex: 0 0 calc(33.33% - 60px); /*tamaño d elas cartas*/
    flex-direction: column;
    background-position: center center;
    background-size: cover;
    padding: 50px 50px;
    margin: 30px;
    border-radius: 20px;
}
/* -------------------  filtro no tocar estetico de las imagenes--------------------*/
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/cerveza-estilo-LAGER-servida-en-copa-cervecera.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/cerveza-estilo-BLONDE-servida-en-copa-cervecera.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/cerveza-estilo-IPA-servida-en-copa-cervecera.jpg");

}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.8)
    )
    ,url("/img/cerveza-estilo-PORTER-servida-en-copa-cervecera.jpg");
}

.carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/cerveza-estilo-STOUT-servida-en-copa-cervecera.jpeg");

}

.carta:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/img/cerveza-estilo-BELGIAN-servida-en-copa-cervecera.jpg");

}

/*-------------------------------Inicio Contacto ------------------------*/


.contenedor-general{
    display: flex; 
    max-width: 1400px; 
    margin:auto; 
    padding: 30px;
}
.contenedor-general {
    background-image: linear-gradient(to right, rgba(206, 151, 0, 0.7) 0%, rgba(100, 0, 0, 0) 100%);
}

.contenedor-formulario {
    flex-direction: column;
    max-width: 500px;
    margin:auto;
    padding: 30px;
    background-color: #585858;
    border-radius: 10px;
}

.contenedor-mapa {
    flex-direction: column;
    max-width: 500px; 
    background-color: #b6b6b6;
    border-radius: 10px;
}

.mapa-responsivo {
    max-width: 500px;
    margin: auto;
    padding: 20px;

}

.titulo-seccion {
    text-align: center; 
    font-size: 2em; 
    color: #af7d00; 
    margin-bottom: 30px;
    text-transform: uppercase; 
}

.titulo-mapa {
    text-align: center;
    margin-top: px;
    font-size: 1.5em;
    color: black;
}

input[type="text"],textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.checkbox {
    display: inline-block;
    margin-right: 10px;
}


.checkbox input[type="checkbox"] {
    margin-right: 10px;
}

.boton-enviar {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #af7d00;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/*---------------------------------Inicio Footer ------------------------------------*/

.footer {
    background-color: #000000;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1140px;
    margin: 0 auto;
}

.footer-column {
    width: 300px;
    margin-bottom: 20px;
}

.footer-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #af7d00;
    text-align: center;
}

.footer-direc p{
    text-align: center;
    padding: 10px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-social-list {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.footer-social-item {
    margin-inline: 10px;
}

.footer-social-link {    
    display: inline-block;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-social-link:hover {
    transform: scale(1.1); /* Animacion: se expande un toke el logo */
}


.footer-text {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.footer-copyright {
    text-align: center;
    padding: 10px 0;
}

.footer-copyright-text {
    padding: 10px; 
    font-size: 12px;
    color: #af7d00;
    background-color: #1c1c1c;
    height: 30px;
}

